.trip-main{
  display: flex;
  justify-content: center;
}
.trip-column {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 12px;
  width: 70vw;
}
.trip-box1 {
  margin: 10px;
  border: solid;
  width: 320px;
  padding: 0px 20px 25px 20px;
  background:white;
  opacity: 0.8;
  border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
}
/* .tripbox1 p {
  width: 420px;
} */
.trip-box2 {
  margin: 10px;
  border: solid;
  width: 325px;
  padding: 10px 15px 15px 20px;
  background:white;
  opacity: 0.8;
  border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
}
textarea {
  height: 10vh;
  width: 315px;
  box-sizing: border-box;	
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

