[Desktop Entry]
Encoding=UTF-8
Name=Link to Allow-Control-Allow-Origin: * - Chrome Web Store
Type=Link
URL=https://chrome.google.com/webstore/detail/allow-control-allow-origi/nlfbmbojpeacfghkpbjhddihlkkiljbi
Icon=text-html
