[Desktop Entry]
Encoding=UTF-8
Name=Link to trip-packer · Activity | Heroku
Type=Link
URL=https://dashboard.heroku.com/apps/trip-packer/activity
Icon=text-html
