[Desktop Entry]
Encoding=UTF-8
Name=Link to React App
Type=Link
URL=https://trip-packer.herokuapp.com/
Icon=text-html
Name[en_US]=Trip-Packer.herokuapp.com
