<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
 </head>

<body>
  
  {{{body}}}

  <script src="/javascripts/script.js"></script>
</body>




  {{!-- <form id="geosearch">
    <label for="address">Address</label>
    <input id="address" type="text" class="width70" style="text-transform:capitalize;" placeholder="Type address here to get lat long" required="">
    <button title="Sumbit Location" class="button" id="btnfind">Find</button><br>
    <small>Write city name with country code for better results.</small><br>
    <span id="loading" style="display: none;">Looking for the latitude & longitude, please wait...</span>
  </form>

  <div class="row">
    <div class="col-6 m2">
      <label for="lat">Latitude</label>
      <input type="text" name="lat" id="lat" placeholder="lat coordinate">
    </div>
    <div class="col-6 m2">
      <label for="lng">Longitude</label>
      <input type="text" name="lng" id="lng" placeholder="long coordinate">
    </div>
  </div> --}}